:root {
    --tile-size : 100px;
    --light-tile : #F0D8B6;
    --dark-tile : #6493b4;
    --bg-color : #202020;
    --highlight : rgba(0,0,0,.1);
    --check : #fe4848;
}

@media all and (max-width: 450px) {
    :root {
        --tile-size : 50px;
    }
}